<ng-template #actionsTemplate let-row>
  <app-link-button
    *ngIf="actions.includes(FlightTableAction.BookNow)"
    [routerLink]="getFlightBookURL(row.flightNumber)"
    icon="flight_takeoff"
    class="book-now-link"
  >
    Book Now
  </app-link-button>

  <app-link-button
    *ngIf="actions.includes(FlightTableAction.Edit)"
    [routerLink]="getFlightInfoURL(row.flightNumber)"
    icon="edit"
    class="edit-link"
  >
    Edit
  </app-link-button>
</ng-template>

<ng-template #topRightSectionTemplate>
  <app-link-button
    [routerLink]="getFlightAddURL()"
    icon="add"
    class="add-link"
    *ngIf="actions.includes(FlightTableAction.Edit)"
  >
    Add Flight
  </app-link-button>

  <button
    mat-button
    class="edit-button"
    *ngIf="actions.includes(FlightTableAction.Filter)"
    (click)="this.filter.emit()"
  >
    <mat-icon>filter_list</mat-icon>
    Filter
  </button>
</ng-template>

<div class="flight-table-loader" *ngIf="isLoading; else flight_table">
  <ono-flight-loader />
</div>

<ng-template #flight_table>
  <app-table
    [rows]="flights"
    [columns]="columns"
    [getId]="getId"
    [actions]="actionsTemplate"
    [searchable]="true"
    [topRightSection]="topRightSectionTemplate"
  ></app-table>
</ng-template>
