<ng-template #actionsTemplate let-row>
  <app-menu
    [options]="getFlightTableOptions(row)"
    [header]="getFlightTableOptionsHeader(row)"
    (optionClicked)="onOptionClicked($event, row)"
  />
</ng-template>

<ng-template #topRightSectionTemplate>
  <app-link-button
    [routerLink]="getFlightAddURL()"
    icon="add"
    class="add-link"
    *ngIf="actions.includes(FlightTableAction.Edit)"
  >
    Add Flight
  </app-link-button>

  <button
    mat-button
    class="edit-button"
    *ngIf="actions.includes(FlightTableAction.Filter)"
    (click)="this.filter.emit()"
  >
    <mat-icon>filter_list</mat-icon>
    Filter
  </button>
</ng-template>

<div class="flight-table-loader" *ngIf="isLoading; else flight_table">
  <ono-flight-loader />
</div>

<ng-template #flight_table>
  <app-table
    [rows]="flights"
    [columns]="columns"
    [getId]="getId"
    [actions]="actionsTemplate"
    [searchable]="true"
    [topRightSection]="topRightSectionTemplate"
  />
</ng-template>
