<mat-nav-list>
  <div class="sidenav-logo">
    <ono-logo-link />
  </div>
  <ng-container *ngFor="let navItem of navRoutes">
    <!-- Items with children -->
    <ng-container
      *ngIf="navItem.children && navItem.children.length > 0; else noChildren"
    >
      <mat-expansion-panel class="nav-item-container">
        <mat-expansion-panel-header class="nav-header">
          <mat-icon *ngIf="navItem.icon" class="nav-icon">{{
            navItem.icon
          }}</mat-icon>
          <span>{{ navItem.label }}</span>
        </mat-expansion-panel-header>
        <mat-action-list>
          <a
            mat-list-item
            class="nav-item"
            *ngFor="let child of navItem.children"
            [routerLink]="child.route"
          >
            <mat-icon *ngIf="child.icon" class="nav-icon">{{
              child.icon
            }}</mat-icon>
            <span>{{ child.label }}</span>
          </a>
        </mat-action-list>
      </mat-expansion-panel>
    </ng-container>

    <!-- Items without children -->
    <ng-template #noChildren>
      <a
        mat-list-item
        class="nav-item no-children"
        [routerLink]="navItem.route"
      >
        <mat-icon *ngIf="navItem.icon" class="nav-icon">{{
          navItem.icon
        }}</mat-icon>
        <span>{{ navItem.label }}</span>
      </a>
    </ng-template>
  </ng-container>
</mat-nav-list>
