.flight-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.flight-details-item {
  width: 100%;

  & header {
    font-weight: bold;
  }
}

.flight-details-divider {
  margin: 16px 0 !important;
}
