<div class="passenger-list">
  <section class="passenger-list-section">
    <h3>No. of passengers: {{ passengers.length }}</h3>
  </section>

  <section class="passenger-list-section">
    <div *ngFor="let passenger of passengerGroups; let i = index">
      <app-passenger-item
        [group]="passenger"
        (remove)="removePassenger(i)"
        [index]="i + 1"
      ></app-passenger-item>
    </div>

    <button mat-button (click)="addPassenger()">
      <mat-icon>add</mat-icon>
      Add Passenger
    </button>
  </section>
</div>
