<div [formGroup]="parentFormGroup">
  <mat-form-field appearance="fill" class="form-select">
    <mat-label class="field-label">{{ label }}</mat-label>

    <mat-select
      [id]="selectId"
      [formControlName]="controlKey"
      [placeholder]="placeholder"
      [required]="required"
    >
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>

    <mat-error>
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
</div>
