<!-- Menu trigger: Icon button with kebab icon -->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<!-- Menu content -->
<mat-menu #menu="matMenu" class="menu-root">
  <!-- Loop through grouped sections -->
  <ng-container *ngFor="let section of sectionKeys; let i = index">
    <!-- Section header if this is not the default section -->

    <div class="menu-section-header">
      <ng-container *ngIf="section !== 'default'">
        {{ section }}
      </ng-container>
      <ng-container *ngIf="section === 'default' && header">
        {{ header }}
      </ng-container>
    </div>

    <!-- Loop through each option in this section -->
    <ng-container *ngFor="let option of groupedOptions[section]">
      <button
        mat-menu-item
        (mousedown)="onOptionClick(option)"
        class="menu-item"
      >
        <mat-icon
          class="menu-item-icon"
          *ngIf="option.icon"
          [ngStyle]="{ color: option.color || 'inherit' }"
        >
          {{ option.icon }}
        </mat-icon>
        <span [ngStyle]="{ color: option.color || 'inherit' }">
          {{ option.title }}
        </span>
      </button>
    </ng-container>

    <!-- Add a divider between sections (except after the last section) -->
    <mat-divider *ngIf="i < sectionKeys.length - 1"></mat-divider>
  </ng-container>
</mat-menu>
