<div class="passenger-item">
  <header>
    <div class="header-buttons">
      <button mat-icon-button color="primary" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="onDelete()"
        *ngIf="canDelete"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </header>
  <div class="passenger-info">
    <p>
      <strong>Name:</strong> {{ group.get('firstName')?.value }}
      {{ group.get('lastName')?.value }}
    </p>
    <p>
      <strong>Passport Number:</strong> {{ group.get('passportId')?.value }}
    </p>
  </div>
</div>
