<div mat-card [formGroup]="group">
  <header>
    <h3>Passenger No.{{ index }}</h3>
    <button mat-icon-button (click)="remove.emit()" class="delete-btn">
      <mat-icon>delete</mat-icon>
    </button>
  </header>

  <div class="full-name">
    <app-form-input
      [controlKey]="'firstName'"
      [required]="true"
      label="First Name"
      [errorMessages]="{ required: 'First Name is required' }"
    />
    <app-form-input
      [controlKey]="'lastName'"
      [required]="true"
      label="Last Name"
      [errorMessages]="{ required: 'Last Name is required' }"
    />
  </div>

  <app-form-input
    [controlKey]="'passportId'"
    label="Passport ID"
    [required]="true"
    [errorMessages]="{
      required: 'Passport ID is required',
      pattern: 'Passport ID must be exactly 8 digits',
    }"
  />
</div>
