<ng-template #actionsTemplate let-row>
  <app-menu
    [options]="getDestinationTableOptions(row)"
    [header]="getDestinationTableOptionsHeader(row)"
    (optionClicked)="onOptionClicked($event, row)"
  />
</ng-template>

<ng-template #topRightSectionTemplate>
  <app-link-button
    [routerLink]="getDestinationAddURL()"
    icon="add"
    class="add-link"
  >
    Add Destination
  </app-link-button>
</ng-template>

<app-table
  [rows]="destinations"
  [columns]="columns"
  [getId]="getId"
  [searchable]="true"
  [actions]="actionsTemplate"
  [topRightSection]="topRightSectionTemplate"
></app-table>
