.booking-container {
  max-height: 600px;
  overflow: auto;
}

.booking-card {
  margin-bottom: 16px;
  position: relative;
  padding: 16px;
}

.card-content {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.image-container {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 16px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  grid-template-rows: auto auto auto;
  column-gap: 16px;
  row-gap: 8px;
  flex: 1;
  width: 100%;
}

.details-item {
  margin: 0;
}

.action-menu {
  position: absolute;
  top: 4px;
  right: 4px;
}
