<div class="booking-container">
  <ng-container *ngIf="isEmpty()">
    <ono-not-found-placeholder [title]="'No Booking Found'" />
  </ng-container>

  <ng-container *ngFor="let item of bookings">
    <mat-card class="booking-card">
      <div class="card-content">
        <div class="image-container">
          <img
            [src]="item.details.destination.imageUrl"
            alt="Destination Image"
          />
        </div>
        <div class="details-grid">
          <!-- Flight number -->
          <p class="details-item">
            <strong>Flight No.:</strong> {{ item.details.flight.flightNumber }}
          </p>
          <!-- Destinations -->
          <p class="details-item">
            <strong>Destinations:</strong>
            {{ item.details.origin.name }} → {{ item.details.destination.name }}
          </p>
          <!-- Dates -->
          <p class="details-item">
            <strong>Boarding:</strong>
            {{ item.details.flight.boardingDate }} /
            {{ item.details.flight.boardingTime }}
          </p>
          <p class="details-item">
            <strong>Landing:</strong>
            {{ item.details.flight.arrivalDate }} /
            {{ item.details.flight.arrivalTime }}
          </p>
          <!-- Seat Numbers -->
          <p class="details-item">
            <strong>Seat Numbers:</strong> {{ getSeatNumbers(item.booking) }}
          </p>
          <!-- Baggages -->
          <p class="details-item" *ngIf="getBaggages(item.booking)">
            <strong>Baggages:</strong> {{ getBaggages(item.booking) }}
          </p>
          <!-- Price -->
          <p class="details-item">
            <strong>Price:</strong>
            {{ item.booking.finalPrice | currency:'USD':'symbol' }}
          </p>
          <!-- Seats Left -->
          <p class="details-item">
            <strong>Seats Left:</strong> {{ item.details.flight.flightSeatStatus }}
          </p>
          <!-- Passenger Count -->
          <p class="details-item">
            <strong>Passenger Count:</strong> {{ item.booking.passengerCount }}
          </p>
        </div>
        <!-- Kebab Menu for Actions -->
        <button mat-icon-button [matMenuTriggerFor]="menu" class="action-menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(item.booking)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button
            *ngIf="item.booking.status === 'enabled' && canBeDisabled"
            mat-menu-item
            (click)="onDisable(item.booking)"
          >
            <mat-icon>block</mat-icon>
            <span>Disable</span>
          </button>
          <button
            *ngIf="item.booking.status === 'disabled' && item.details.flight.isValid()"
            mat-menu-item
            (click)="onEnable(item.booking)"
          >
            <mat-icon>check_circle</mat-icon>
            <span>Enable</span>
          </button>
        </mat-menu>
      </div>
    </mat-card>
  </ng-container>
</div>
