<ng-template #actionsTemplate let-row>
  <!-- Conditionally render "Book Now" -->
  <a
    *ngIf="actions.includes(FlightTableAction.BookNow)"
    [routerLink]="['/user/book', row.flightNumber]"
    mat-button
    class="book-now-link"
  >
    <mat-icon>flight_takeoff</mat-icon>
    Book Now
  </a>

  <!-- Conditionally render "Edit" -->
  <a
    *ngIf="actions.includes(FlightTableAction.Edit)"
    [routerLink]="['/admin/edit', row.flightNumber]"
    mat-button
    class="edit-link"
  >
    <mat-icon>edit</mat-icon>
    Edit
  </a>
</ng-template>

<app-table
  [rows]="flights"
  [columns]="columns"
  [getId]="getId"
  [actions]="actionsTemplate"
  [searchable]="true"
></app-table>
