.summary-container {
  padding: 16px;
}

.summary-section {
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  .section-header {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    font-weight: bold;
    mat-icon {
      margin-right: 8px;
    }
  }
  .section-content {
    padding: 12px;
    .info-item {
      width: 100%;
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
      margin-bottom: 8px;

      .info-item-divider {
        height: 1px;
        width: 100%;
        margin: 0 4px;
        border: 1px dashed #cccccc;
      }

      .label {
        font-weight: bold;
      }
      .value {
        margin-left: 8px;
      }

      & .discount {
        color: #f44336;
      }
    }
    .info-item.overall {
      border-top: 1px solid #ccc;
      padding-top: 8px;
      font-size: 1.2rem;
      color: #4caf50;
    }
  }
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  button {
    margin-top: 16px;
  }
}

.coupon-selector {
  form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  button {
    height: 60px !important;
    position: relative;
    top: -8px;
    margin-left: 8px;
  }
}
