<div class="summary-container">
  <!-- Passengers Information Section -->
  <div class="summary-section passengers-info">
    <div class="section-header">
      <mat-icon>people</mat-icon>
      <span>Passengers</span>
    </div>
    <div class="section-content">
      <div class="info-item" *ngFor="let p of passengers">
        <span class="label">Passenger:</span>
        <span class="value">
          {{ p.name }} ({{ p.passportNumber }}) chose to sit at
          <strong>{{ getSeatSummaryText(p) }}</strong>
        </span>
      </div>
    </div>
  </div>

  <!-- Price Summary Section -->
  <div class="summary-section price-info">
    <div class="section-header">
      <mat-icon>attach_money</mat-icon>
      <span>Price Summary</span>
    </div>
    <div class="section-content">
      <div class="coupon-selector">
        <form [formGroup]="form" (ngSubmit)="submitCoupon()">
          <app-form-input
            controlKey="couponCode"
            label="Have a Coupon?"
            placeholder="Enter coupon..."
          />
          <app-button
            variant="mat-flat-button"
            [isLoading]="loadingDiscount"
            type="submit"
          >
            Submit
          </app-button>
        </form>
      </div>
      <div class="info-item">
        <span class="label">Flight Price:</span>
        <span class="info-item-divider"></span>
        <span class="value">{{
          getFlightPrice() | currency: 'USD' : 'symbol'
        }}</span>
      </div>
      <ng-container *ngFor="let seat of getSeatPrices()">
        <div class="info-item">
          <span class="label">{{ seat.label }}</span>
          <span class="info-item-divider"></span>
          <span class="value">{{
            seat.value | currency: 'USD' : 'symbol'
          }}</span>
        </div>
      </ng-container>
      <div class="info-item" *ngIf="getDiscountPrice() > 0">
        <span class="label discount">Discount ({{ discount * 100 }}%)</span>
        <span class="info-item-divider"></span>
        <span class="value discount"
          >-{{ getDiscountPrice() | currency: 'USD' : 'symbol' }}</span
        >
      </div>

      <div class="info-item overall">
        <span class="label">Overall Price:</span>
        <span class="info-item-divider"></span>
        <span class="value">{{
          getOverallPrice() | currency: 'USD' : 'symbol'
        }}</span>
      </div>
    </div>
  </div>

  <!-- Action Button -->
  <div class="action-buttons">
    <button mat-button color="primary" (click)="onBook()">
      <mat-icon>flight_takeoff</mat-icon>
      Book
    </button>
  </div>
</div>
