<div [formGroup]="parentFormGroup">
  <mat-form-field appearance="fill" class="form-input">
    <mat-label class="field-label">{{ label }}</mat-label>
    <input
      matInput
      [id]="inputId"
      [formControlName]="controlKey"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [required]="required"
      [errorStateMatcher]="effectiveErrorStateMatcher"
      [type]="type"
    />
    <mat-error *ngIf="hasError">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
</div>
