<div class="editor">
  <form [formGroup]="form" (ngSubmit)="save()">
    <!-- Show Loader When Data is Fetching -->
    <div
      class="destination-loader"
      *ngIf="isLoadingDestinations(); else form_content"
    >
      <ono-flight-loader />
    </div>

    <ng-template #form_content>
      <div class="form-item">
        <app-form-input
          controlKey="flightNumber"
          label="Flight Number"
          placeholder="Enter flight number"
          [required]="true"
          [errorMessages]="{
            required: 'Flight number is required.',
            pattern: 'Flight number must be 2-6 uppercase letters or numbers.',
          }"
        />
      </div>

      <div class="form-item">
        <app-form-select
          controlKey="origin"
          label="Origin"
          [required]="true"
          [options]="destinationOptions()"
          [errorMessages]="{
            required: 'Origin is required.',
          }"
        />
      </div>

      <div class="form-item">
        <app-form-select
          controlKey="destination"
          label="Destination"
          [required]="true"
          [options]="filteredDestinationOptions"
          [errorMessages]="{
            required: 'Destination is required.',
            sameDestination: 'Origin and Destination cannot be the same.',
          }"
        />
      </div>

      <div class="form-item">
        <app-form-date-range-picker
          controlKey="boardingArrival"
          label="Boarding & Arrival date"
          startPlaceholder="Boarding date"
          endPlaceholder="Arrival date"
          [required]="true"
          [errorMessages]="{
            required: 'This field is required',
          }"
        />
      </div>

      <div class="form-item">
        <app-form-select
          controlKey="seats"
          label="No. of seats"
          id="flight-seats"
          [required]="true"
          [options]="planeOptions"
          [errorMessages]="{
            required: 'Number of seats is required.',
          }"
        />
      </div>

      <div class="form-item">
        <app-form-input
          controlKey="price"
          label="Price"
          placeholder="100$"
          type="number"
          adornmentEnd="attach_money"
          [required]="true"
          [errorMessages]="{
            required: 'Price is required.',
            min: 'Price cannot be less than 1.',
            max: 'Price cannot exceed MAX_INTEGER.',
          }"
          id="flight-price"
        />
      </div>

      <app-button type="submit" [isLoading]="isLoading" icon="save">
        Save
      </app-button>
    </ng-template>
  </form>

  <div class="plane-image">
    <img [src]="planeImages[form.get('seats')?.value]" alt="plane image" />
  </div>
</div>
