<page pageTitle="User | My bookings">
  <div class="my-bookings-loader" *ngIf="isLoading; else bookings_content">
    <ono-flight-loader />
  </div>

  <ng-template #bookings_content>
    <mat-accordion class="my-bookings-accordion">
      <!-- Upcoming Bookings Section -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="ono-panel-icon">event_available</mat-icon>
            Upcoming Bookings
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-destinations-cards [bookings]="upcomingBookings" />
      </mat-expansion-panel>

      <!-- Previous Bookings Section -->
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="ono-panel-icon">history</mat-icon>
            Previous Bookings
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-destinations-cards [bookings]="previousBookings" />
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
</page>
