<a
  *ngIf="isExternal; else internalLink"
  [href]="href"
  [target]="target"
  [ngClass]="[className, 'link-btn']"
  mat-button
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>

<ng-template #internalLink>
  <a [routerLink]="routerLink" [ngClass]="[className, 'link-btn']" mat-button>
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
</ng-template>

<!-- Button Content -->
<ng-template #content>
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <ng-content></ng-content>
</ng-template>
