<mat-dialog-content>
  <h2 mat-dialog-title>
    <mat-icon>filter_list</mat-icon>
    Filter booking...
  </h2>
  <form [formGroup]="form">
    <app-form-select
      controlKey="origin"
      label="Origin"
      [options]="[]"
      [errorMessages]="{
        required: 'Origin is required.',
      }"
    ></app-form-select>

    <app-form-select
      controlKey="destination"
      label="Destination"
      [options]="[]"
      [errorMessages]="{
        sameDestination: 'Origin and Destination cannot be the same.',
      }"
    ></app-form-select>

    <app-form-date-range-picker
      controlKey="boardingArrival"
      label="Boarding & Arrival date"
      startPlaceholder="Boarding date"
      endPlaceholder="Arrival date"
    ></app-form-date-range-picker>

    <app-form-input
      controlKey="seats"
      label="No. of seats"
      placeholder="Enter number of seats"
      type="number"
      [errorMessages]="{
        min: 'Number of seats cannot be less than 1.',
        max: 'Number of seats cannot exceed 100.',
      }"
      id="flight-seats"
    ></app-form-input>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="close()">Close</button>
  <button mat-flat-button color="primary" (click)="close()">Save</button>
</mat-dialog-actions>
