<div class="step-container">
  <div class="selector">
    <app-seat-selector
      [flight]="flight"
      [passengers]="passengers"
      [seatsControl]="seatsControl"
      [seatCurrentPassengerId]="seatCurrentPassengerId"
      (changeCurrentPassengerId)="onChangeCurrentPassengerId($event)"
    />
  </div>

  <div class="step-actions">
    <button mat-button (click)="stepper.previous()">
      Back
      <mat-icon>arrow_left</mat-icon>
    </button>
    <button mat-button (click)="stepper.next()">
      Next
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
