<div class="seat-selector-wrapper">
  <div class="seat-selector-top">
    <app-passenger-selection />
    <mat-divider class="seat-selector-divider" />
  </div>

  <div class="seat-selector-root">
    <div class="left-column">
      <div class="seat-picker">
        <ng-container *ngFor="let section of sections">
          <app-seat-section
            [rows]="section.rows"
            [cols]="section.cols"
            [sectionType]="section.type"
            [extraCost]="section.extraCost"
            [selectedSeat]="getSelectedSeat()"
            [occupiedSeats]="occupiedSeats"
            (seatSelected)="onSeatSectionSelected($event)"
          />
          <mat-divider class="seat-selector-divider" />
        </ng-container>
      </div>
    </div>

    <div class="right-column">
      <app-passenger-summary [summary]="seatSummaryState" />
    </div>
  </div>
</div>
