<page pageTitle="Booking Information | {{ booking?.flightNumber ?? 'N / A' }}">
  <div class="booking-loader" *ngIf="isLoading; else bookingContent">
    <ono-flight-loader />
  </div>

  <ng-template #bookingContent>
    <!-- If Booking Exists -->
    <mat-card *ngIf="booking; else notFound" class="booking-card">
      <mat-card-title class="card-title">Flight Booking Details</mat-card-title>
      <mat-divider></mat-divider>

      <div class="booking-details">
        <div class="detail-row">
          <span class="detail-label">Flight Number:</span>
          <span>{{ booking.flightNumber }}</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Passenger Count:</span>
          <span>{{ booking.passengerCount }}</span>
        </div>
        <div class="passenger-list">
          <span class="detail-label">Passengers:</span>
          <mat-list>
            <mat-list-item
              *ngFor="let passenger of booking.passengers"
              class="passenger-item"
            >
              <div class="passenger-info">
                <span class="passenger-name">{{ passenger.name }}</span>
                <span class="passport-number"
                  >(Passport: {{ passenger.passportNumber }})</span
                >
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card>
  </ng-template>

  <!-- Not Found Fallback -->
  <ng-template #notFound>
    <ono-not-found-placeholder
      title="Booking Not Found"
      description="We could not find the booking details for this flight. Please check the flight number and try again."
    ></ono-not-found-placeholder>
  </ng-template>
</page>
