.full-page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #121316; /* Dark mode */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.full-page-loader {
  & h3 {
    font-size: 28px !important;
  }

  & p {
    font-size: 20px !important;
  }

  & * {
    color: white !important;
  }
}
