@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
    )
  );
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
