<page title="User | Search a Flight">
  <div class="search-flight-container">
    <p>Select your flight details below.</p>

    <div class="search-grid">
      <!-- From -->
      <div class="search-field">
        <app-select
          [options]="destinations"
          [(value)]="from"
          label="From"
        ></app-select>
      </div>

      <!-- To -->
      <div class="search-field">
        <app-select
          [options]="destinations"
          [(value)]="to"
          label="To"
        ></app-select>
      </div>

      <!-- Departure Date -->
      <div class="search-field">
        <app-datepicker
          [(value)]="departureDate"
          label="Departure"
        ></app-datepicker>
      </div>

      <!-- Return Date -->
      <div class="search-field">
        <app-datepicker [(value)]="returnDate" label="Return"></app-datepicker>
      </div>

      <!-- Passengers -->
      <div class="search-field">
        <mat-form-field class="example-full-width">
          <mat-label>Passengers</mat-label>
          <input
            matInput
            placeholder="Ex. 2"
            [(ngModel)]="passengers"
            min="1"
            type="number"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- Search Button -->
    <div class="search-actions">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Search
      </button>
    </div>
  </div>
</page>
