.divider {
  grid-column: 1 / -1;
}

.flight-info {
  border: 1px solid var(--color-border);
  padding: var(--spacing-8); /* 8px spacing */
  margin-bottom: var(--spacing-20); /* 20px spacing */
  text-align: left;
  border-radius: 4px;
}

.flight-info p {
  margin: var(--spacing-4) 0; /* 4px vertical margin */
  font-size: var(--font-size-base); /* Base font size */
}

.booking-form {
}

.passenger-count-field {
  display: grid;
  grid-template-columns: 140px auto;
  align-items: center;
}

.booking-form label {
  font-weight: bold;
  text-align: right;
  padding-right: var(--spacing-8); /* 8px spacing */
  font-size: var(--font-size-base); /* Base font size */
}

.booking-form input[type='text'],
.booking-form input[type='number'] {
  padding: var(--spacing-8); /* 8px padding */
  border: 1px solid var(--color-border);
  width: 100%;
  font-size: var(--font-size-base); /* Base font size */
}

.button {
  grid-column: 1 / -1;
  justify-self: center;
  width: 250px;
  margin-top: var(--spacing-20);
}

.passenger-fields {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8); /* 8px spacing */
  max-height: 375px;
  overflow-y: auto;
}

.passenger-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-8);
}

.passenger-details-fields-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 100%;
  border-left: 1px solid var(--color-border);
  padding-left: var(--spacing-8);
  margin-left: var(--spacing-8);
}

.passenger-number-text {
  min-width: 100px;
}

.passenger-details-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.passenger-details-field label {
  width: 130px;
}

.passenger-image {
  height: 50px;
  width: 100%;
}

.passenger-image img {
  max-width: 100%;
  max-height: 100%;
}
