.container {
  max-height: 800px;
  overflow-y: auto;
}

.booking {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  padding: var(--spacing-8); /* 8px padding */
  margin-bottom: var(--spacing-20); /* 20px spacing */
  box-shadow: var(--box-shadow); /* Box shadow variable */
}

.destination-image {
  width: 100px;
  height: 100px;
  background-color: var(--color-background); /* Background color variable */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--spacing-20); /* 20px spacing */
  border: 1px solid var(--color-border);
}

.destination-image p {
  font-size: var(--font-size-small); /* Small font size */
  color: var(--color-text-muted); /* Muted text color */
  text-align: center;
}

.booking-info {
  text-align: left;
}

.booking-info p {
  margin: var(--spacing-4) 0; /* 4px vertical margin */
  font-size: var(--font-size-base); /* Base font size */
}

.bookings-container {
  overflow: hidden;
}

.bookings-main-wrapper{
    overflow: auto;
    height: calc(800px - 70px);
}

.booking-info-data {
  display: grid;
  gap: var(--spacing-4);
  font-size: 14px;
  line-height: 1.6;
}

.booking-info-data-row {
  display: grid;
  grid-template-columns: 1fr 70px 1fr 70px;
  gap: var(--spacing-8);
  align-items: center;
}

.booking-info-data-row.single-row {
  grid-template-columns: 1fr 190px;
}

.booking-info-data-label {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.booking-info-data-value {
  text-align: left;
  white-space: nowrap;
}
