<div class="booking-container">
  <ng-container *ngFor="let item of bookings">
    <mat-card class="booking-card">
      <div class="card-content">
        <div class="image-container">
          <img
            [src]="item.details.destination.imageUrl"
            alt="Destination Image"
          />
        </div>
        <div class="details-grid">
          <p class="details-item">
            <strong>Origin:</strong> {{ item.details.origin.name }}
          </p>
          <p class="details-item">
            <strong>Boarding:</strong> {{ item.details.flight.boardingDate }} /
            {{ item.details.flight.boardingTime }}
          </p>
          <p class="details-item">
            <strong>Destination:</strong> {{ item.details.destination.name }}
          </p>
          <p class="details-item">
            <strong>Landing:</strong> {{ item.details.flight.arrivalDate }} /
            {{ item.details.flight.arrivalTime }}
          </p>
          <p class="details-item">
            <strong>No. of passengers:</strong>
            {{ item.booking.passengerCount }}
          </p>
        </div>
        <button
          mat-icon-button
          class="view-button"
          [routerLink]="['/booking', item.booking.flightNumber]"
        >
          <mat-icon>visibility</mat-icon>
          View
        </button>
      </div>
    </mat-card>
  </ng-container>
</div>
