.form-input {
  --border-color: #3f3f3f;
  --bg-color: #1f1f1f;
  --text-color: #fff;

  width: 100%;
}

/* Override the MDC-filled container */
.form-input .mat-mdc-text-field-wrapper.mdc-text-field--filled {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.form-input input {
  color: var(--text-color);
}
