:host {
  display: block;
  padding: 16px;
  background-color: #121212;
  color: #e0e0e0;
}

.destination-info {
  display: flex;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  .destination-content {
    display: flex;
    align-items: center;
  }

  .destination-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 16px;
    border-radius: 4px;
  }

  .destination-details {
    padding: 16px;
    line-height: 1.8;

    strong {
      color: #bb86fc;
    }

    a {
      margin-left: var(--spacing-4);
      color: #1976d2;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
